body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#container{
    width: 400px;
    height: 600px;
    border-radius: 20px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

#title{
    height: 200px;
    font-size: 30px;
    text-align: center;
}

#display{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(233, 239, 233)
}

#display-text{
    font-size: 60px;
}

.row {
    width: 400px;
    height: 100px;
    display: flex;
    flex: 1;
}

.row > button {
    width: 100px;
    height: 100px;
    opacity: 1;
    flex: 1;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(78, 138, 78);
    color: white;
    font-size: 20px;
}

.row > button:hover {
    opacity: 0.5;
}

.row > .operator {
    background-color: orange;
}

.row > #equal {
    background-color: rgb(255, 94, 0);
}

.row > .selected {
    background-color: yellow;
}

.row > #clear, #sign, #percentage, #delete, #decimal {
    background-color: green;
}